[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
psutil = "*"
gstools = "*"
matplotlib = "*"
meshio = "*"
pyvista = "*"
scikit-image = "*"
scipy = "*"
opencv-python = "*"
dask = "*"
distributed = "*"
bokeh = "*"

[dev-packages]

[requires]
python_version = "3.10"
